# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
assets/plot/common_proper_nouns.md
assets/plot/random_common_links.md
assets/plot/random_common_topics.md
